.homepage-p-style{
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    text-align: left;
    padding-left: 1.6rem;
    font-size: 1.3rem;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    color: rgb(66, 63, 63);
    text-transform: capitalize;
}

.h1-beer-style{
    margin: 0px;
    float: left;
    padding-left: 1.65rem;
}

h1{
    font-size: 2.2rem;
    font-weight: lighter ;
    color: rgb(7, 7, 7);
   font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

Link{
    text-decoration: none;
  }